parameters:
	level: 6
	paths:
		- src
	fileExtensions:
		- php
	bootstrapFiles:
	    - ./vendor/autoload.php
	ignoreErrors:
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	parallel:
		processTimeout: 300.0
		jobSize: 10
		maximumNumberOfProcesses: 4
		minimumNumberOfJobsPerProcess: 4
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon